* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #635BFF;
  --radius: 3px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {

}

.home {
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
}

.nav {
    margin-top: .3rem;
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 5px -7px rgba(0,0,0,0.35);
}

.nav_listContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    text-align: center;
}

.nav_listContainer-item {
    text-decoration: none;
    margin: auto;
}

.nav_listContainer-email {
  outline: 1px solid black;
  padding: .4rem;
  border-radius: 3px;
  background-color: black;
  color: #fff;
}

.nav_listContainer-item > a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}

.nav-listContainer-logoff {
  color: #d95300 !important;
}

.logo {
    height: 50px;
    width: 50px;

}

.shop {

  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.productCard{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  width: 50%;
  height: 60vh;
  text-align: center;
}

.productCard-heading{

}
.productCard-img{
  width: 30%;
  object-fit: cover;
  object-position: center;
}
.productCard-text{

}
.productCard-button{
  width: 30%;
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  margin-top: .5rem;
  background-color: rgba(0, 0, 0, 0.791);
  color: #fff;
  border: 1px solid black;
}

.productCard-button:active {
 background-color: rgba(0, 0, 0, 0.561);
}

.productCard-button-img{
  height: 40px;
  width: 40px;
}


.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  overflow:scroll;
  height: 80vh;
}

.cartcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: .2rem;
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.cart-logo-and-count-box {
  display: flex;
  width: 70%;
  padding: 5px;
  margin-bottom: 1rem;
  justify-content: center;
}

.cartlogo-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: rgb(218, 37, 37);
  color: #fff;
}

.cartcard-img {
  height: 50px;
  width: 50px;
}

.cartcard-btn {
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  text-decoration: none;
  height: 1.5rem;
  width: 50%;
  margin-bottom: 2px; 
}

.cartlogo {
  height: 50px;
  width: 50px;
}

.cart-summary {

}

.cart-checkout-button {
  border: none;
  width: 50%;
  background-color: rgb(80, 217, 6);
}




.checkout-products-container {
  display: flex;
}


.userlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userlogin-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.createaccount-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  display: block; /* hide initially, then show once the first message arrives */
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
