* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {

}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
    margin-top: .3rem;
    height: 4rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
}

.nav_listContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}

.nav_listContainer-item {
    text-decoration: none;
}

.nav_listContainer-item > a {
    color: black;
    text-decoration: none;
    font-size: 3rem;
}

.logo {
    height: 50px;
    width: 50px;

}

.shop {

  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.productCard{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  width: 50%;
  height: 60vh;
  text-align: center;
}

.productCard-heading{

}
.productCard-img{
  width: 30%;
  object-fit: cover;
  object-position: center;
}
.productCard-text{

}
.productCard-button{
  width: 30%;
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  margin-top: .5rem;
  background-color: rgba(0, 0, 0, 0.791);
  color: #fff;
  border: 1px solid black;
}

.productCard-button:active {
 background-color: rgba(0, 0, 0, 0.561);
}

.productCard-button-img{
  height: 40px;
  width: 40px;
}


.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  overflow:scroll;
  height: 60vh;
}

.cartcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: .2rem;
  outline: 2px solid gray;
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.cart-logo-and-count-box {
  display: flex;
  outline: 1px solid pink;
}

.cartlogo-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 100%;
  color: #fff;
  border: 1px solid black;
  padding: .1rem;
  font-size: 14px;
  transform: translateX(-10px);
  background-color: black;
}

.cartcard-img {
  height: 50px;
  width: 50px;
}

.cartcard-btn {
  text-align: center;
  border: 1px solid black;
  background-color: black;
  color: #fff;
  text-decoration: none;
  height: 1.5rem;
  width: 50%;
  margin-bottom: 2px;
  
}

.cartlogo {
  height: 50px;
  width: 50px;
}

.cart-summary {

}


