* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --light-grey: #F6F9FC;
  --dark-terminal-color: #0A2540;
  --accent-color: #000000;
  --radius: 3px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  margin-top: .3rem;
  height: 10%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 5px -7px rgba(0,0,0,0.35);
}

.nav_listContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  text-align: center;
}

.nav_listContainer-item {
  text-decoration: none;
  margin: auto;
}

.nav-logo {
color: #e1ad21 !important;
}

.nav_listContainer-email {
outline: 1px solid black;
padding: .4rem;
border-radius: 3px;
background-color: black;
color: #fff;
}

.nav_listContainer-item > a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.nav-listContainer-logoff {
color: #d95300 !important;
}

.logo {
  height: 50px;
  width: 50px;
}


.App {
  height: 100vh;
  width: 100vw;
}

.home {
  height: 100vh;
  width: 100vw;
}


.home-container {
  display: flex;
  height: 80%;
}

.shop {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow: scroll;
}

.productCard{
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  height: 70%;
  align-items: center;
  margin: 1rem;
}

.productCard-heading{
  font-size: 14px;
  color: #e1ad21;
}

.productCard-heading-box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 100%;
  background-color: black;
  transform: translateY(3px);
}

.productCard-img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.productCard-button {
  width: 70%;
}

.productCard-text-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.productCard-text {
  font-size: 12px;
}

.productCard-button{
  margin: auto;
}

.productCard-text-description {
  font-size: 12px;
}

.productCard-itemID {
  display: none;
}


.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  outline: 2px solid orange;
  margin: auto;
  text-align: center;
}




.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  overflow:scroll;
  height: 80vh;
}

.cartcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  animation: 1s fadeIn;
  flex-direction: column;
  min-width: 200px;
  height: 70%;
  align-items: center;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.cart-logo-and-count-box {
  display: flex;
  width: 70%;
  padding: 5px;
  margin-bottom: 1rem;
  justify-content: center;
}

.cartlogo-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 14px;
  background-color: #e1ad21;
  color: #fff;
}

.cartcard-img {
   width: 50%;
}



.cartlogo {
  height: 50px;
  width: 50px;
}

.cart-summary {
  margin: 1rem;
}

.cart-checkout-button {
  border: none;
  width: 50%;

}

.cart-totalcost {
  color: #e1ad21;
}

.cartcard-btn {
  text-decoration: none;
  color: #e1a95f;
}


.checkout-products-container {
  display: flex;
}


.userlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-heading {
  color: #e1ad21 !important;
}

.userlogin-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.createaccount-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form > * {
  margin: 10px 0;
}

button {
  background-color: var(--accent-color);
}

button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
button:hover {
  filter: contrast(115%);
}
button:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
button:disabled {
  opacity: 0.5;
  cursor: none;
}

input, select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

a {
  color: var(--accent-color);
  font-weight: 900;
}

small {
  font-size: .6em;
}

fieldset, input, select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #F6F9FC solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  display: block; /* hide initially, then show once the first message arrives */
  background-color: #0A253C;
  color: #00D924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size:0.7em;
}

.addressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer-btn {
  list-style: none;
  margin: 1rem;
} 

.footer-btn > a {
  text-decoration: none;
}